@use '../../styles/vars';

.message-list {
  // flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background-color: vars.$lightColor;
}

.message {
  margin: 15px 15px 0 15px;
  &_author {
    font-size: 0.7em;
  }
  &_content {
    display: inline-block;
    background-color: #fff;
    padding: 25px;
    font-size: 0.8em;
    border-radius: 25px;
    color: vars.$darkColor;
    margin: 10px 0;
  }
}

.right {
  margin: 15px 15px 0 auto;
}